<div class="container">
    <app-header></app-header>
  
    <div class="row">
      <div class="col-md-6">
        <app-education></app-education>
      </div>
      <div class="col-md-6">
        <app-skills></app-skills>
      </div>
    </div>
  
    <app-footer></app-footer>
  </div>
  
  <!-- Personal Information Modal -->
  <div class="modal fade" id="personalInfoModal" tabindex="-1" role="dialog" aria-labelledby="personalInfoModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="personalInfoModalLabel">Personal Information</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="row">
            <div class="col-md-6">
              <p><strong>Name:</strong> Akshata Darakhe</p>
              <p><strong>Email:</strong> akshudarakhe2001@gmail.com</p>
              <p><strong>Phone:</strong> 7875738497</p>
              <p><strong>Location:</strong> Pune, Maharashtra</p>
            </div>
            <div class="col-md-6">
              <p><strong>LinkedIn:</strong> <a href="https://www.linkedin.com/in/akshata-darakhe/" target="_blank">linkedin.com/in/akshata-darakhe</a></p>
              <p><strong>GitHub:</strong> <a href="https://github.com/akshata-darakhe" target="_blank">github.com/akshata-darakhe</a></p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  